body{
	font-family: 'Hind', sans-serif;
}
.menu{
	background: #212429;
	display: flex;
	justify-content: space-between;
	z-index: -2;
    height: 300px;
	&__search{
		position: relative;
	    width: 205px;
	    height: 35px;
	    margin-top: 19px;
	    margin-right: 20px;
	}
	&__burger{
		&_svg{
			position: absolute;
			left: 45px;
			top: 30px;
		}
	}
}
.items{
	display: none;
	position: absolute;
	z-index: 22;
	background: #212429;
	padding: 0;
	text-align: center;
	width: 250px;
	top: 42px;
	left: 100px;
	border:1px solid #212429;
	&__item{
		margin: 20px 0;
		list-style: none;
		&:first-child{
			margin:0;
		}
		&:last-child{
			margin:0;
		}


		&:hover{
			background:white;
		}
		&:hover > .items__item_link{
			text-decoration:none;
			color: #212429;
		}

		&_link{
			text-decoration: none;
			color: white;
			line-height: 40px;
			padding: 10px;
			margin: 0px 20px;

		}
	}
}
.menu__logo{
    margin: 8px 0 8px 80px;
}
.search__input{
    &_svg{
	    width: 20px;
	    height: 25px;
	    position: absolute;
	    top: 3px;
		right: 5px;
		cursor: pointer;
    }
}
.active{
	display: block;
}
.search__input{
	border:none;
	padding: 2px 2px;
	background: rgba(0,0,0,0);

}
.search__input_active{
	border:1px solid white;
}
.slider{
	position: absolute;
	top: 65px;
	width: 100%;
	&__img{
		width: 93.5%;;
	    z-index: -1;
	    margin: 0 auto;
	    display: block;
	}
	&__title{
		color: white;
	    font-weight: 500;
	    position: absolute;
	    top: 42%;
	    left: 11%;
	    font-size: 18px;
	}
	&__head{
	    color: white;
	    color: white;
	    position: absolute;
	    top: 47%;
	    left: 11%;
	    font-size: 42px;
	}
}
.switch{
    color: white;
    position: absolute;
    top: 39%;
    left: 90%;
	&__buttons{
		position: relative;
		&_button{
		    border: 1px solid white;
		    width: 10px;
		    display: block;
		    height: 11px;
		    position: absolute;

		    &:hover{
		    	cursor:pointer;
		    	background: #999999;
		    }

		    &:nth-child(2){
		    	top: 30px;
		    }
		     &:last-child{
		    	top: 60px;
		    }
		}
	}
	&__toward{
	
		&_text{
		font-size: 15px;
		-moz-transform: rotate(-90deg);
   		-ms-transform: rotate(-90deg);
   		-webkit-transform: rotate(-90deg);
    	-o-transform: rotate(-90deg);
    	transform: rotate(-90deg);
    	width: 122px;
		}
		&_up{
		    position: absolute;
		    top: -62px;
		    left: 57px;
		    cursor: pointer;
		}
		&_down{
			top: 90px;
		    left: 56px;
		    position: absolute;
		    cursor: pointer  ;
		}
	}
}
